<div class="horizontal-stripe" id="<%= project.name.downcase %>-section">
  <div class="pure-g">
    <div class="pure-u-1">
      <h1><%= link_to project.name, project.url, target: "blank" %></h1>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="iphone-mockup">
        <%= link_to image_tag(project.image_path, id: "project-preview"), project.url, target: "blank" %>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="project-description">
        <h2>What's it about?</h2>
        <p><%= project.description %></p>
      </div>
      <div class="project-technologies">
        <% project.technologies.each do |technology| %>
          <%= image_tag technology.image_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>